<h1>Home#home</h1>
<p>Find me in app/views/home/home.html.erb</p>

<%= link_to "Sign in with GitHub", user_github_omniauth_authorize_path, method: :post %>
<%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, method: :post %>
